@page
@model EsafyCapcitacion.Pages.Questions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TestQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-cuid="@ViewBag.CourseId" asp-route-teid="@ViewBag.CourseTestId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TestQuestion.CourseTestId" class="control-label"></label>
                <input asp-for="TestQuestion.CourseTestId" class="form-control" value="@ViewBag.CourseTestId" disabled />
                <span asp-validation-for="TestQuestion.CourseTestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestQuestion.QuestionTitle" class="control-label"></label>
                <input asp-for="TestQuestion.QuestionTitle" class="form-control" />
                <span asp-validation-for="TestQuestion.QuestionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestQuestion.HeadingText" class="control-label"></label>
                <input asp-for="TestQuestion.HeadingText" class="form-control" />
                <span asp-validation-for="TestQuestion.HeadingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestQuestion.SubHeadingText" class="control-label"></label>
                <input asp-for="TestQuestion.SubHeadingText" class="form-control" />
                <span asp-validation-for="TestQuestion.SubHeadingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
